.hero{

    position:relative;

    width:100%;

    height:600px;

    overflow:hidden;

}

.hero-image{

    width:100%;

    height:100%;

    object-fit:cover;

    user-select:none;

}

.arrow{

    position:absolute;

    top:35%;

    transform:translateY(-50%);

    width:55px;

    height:120px;

    border:none;

    cursor:pointer;

    font-size:50px;

    background:rgba(255,255,255,.15);

    color:#111;

    z-index:10;

    transition:.3s;

}

.arrow:hover{

    background:white;

}

.left{

    left:0;

}

.right{

    right:0;

}

.fade{

    position:absolute;

    bottom:0;

    width:100%;

    height:220px;

    background:linear-gradient(

        transparent,

        #eaeded

    );

}