<footer class="amazon-footer">

  <!-- BACK TO TOP -->

  <button
    class="back-to-top"
    type="button"
    (click)="scrollToTop()">

    Back to top

  </button>


  <!-- MAIN FOOTER -->

  <div class="footer-main">

    <div class="footer-columns">


      <!-- COLUMN 1 -->

      <div class="footer-column">

        <h3>
          Get to Know Us
        </h3>

        <a href="#">
          About Us
        </a>

        <a href="#">
          Careers
        </a>

        <a href="#">
          Press Releases
        </a>

        <a href="#">
          Amazon Science
        </a>

      </div>


      <!-- COLUMN 2 -->

      <div class="footer-column">

        <h3>
          Connect with Us
        </h3>

        <a href="#">
          Facebook
        </a>

        <a href="#">
          Twitter
        </a>

        <a href="#">
          Instagram
        </a>

      </div>


      <!-- COLUMN 3 -->

      <div class="footer-column">

        <h3>
          Make Money with Us
        </h3>

        <a href="#">
          Sell on Amazon
        </a>

        <a href="#">
          Sell under Amazon Accelerator
        </a>

        <a href="#">
          Protect and Build Your Brand
        </a>

        <a href="#">
          Amazon Global Selling
        </a>

        <a href="#">
          Supply to Amazon
        </a>

        <a href="#">
          Become an Affiliate
        </a>

        <a href="#">
          Fulfilment by Amazon
        </a>

        <a href="#">
          Advertise Your Products
        </a>

        <a href="#">
          Amazon Pay on Merchants
        </a>

      </div>


      <!-- COLUMN 4 -->

      <div class="footer-column">

        <h3>
          Let Us Help You
        </h3>

        <a href="#">
          Your Account
        </a>

        <a href="#">
          Returns Centre
        </a>

        <a href="#">
          Recalls and Product Safety Alerts
        </a>

        <a href="#">
          100% Purchase Protection
        </a>

        <a href="#">
          Amazon App Download
        </a>

        <a href="#">
          Help
        </a>

      </div>

    </div>

  </div>


  <!-- FOOTER DIVIDER -->

  <div class="footer-divider"></div>


  <!-- BRAND SECTION -->

  <div class="footer-brand-section">


    <img
      routerLink="/"
      src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
      class="footer-logo"
      alt="Amazon Logo">


    <div class="footer-options">


      <button
        type="button"
        class="footer-option">

        <mat-icon>
          language
        </mat-icon>

        English

        <mat-icon class="arrow-icon">
          unfold_more
        </mat-icon>

      </button>


      <button
        type="button"
        class="footer-option">

        <span class="india-flag">
          🇮🇳
        </span>

        India

      </button>


    </div>

  </div>


  <!-- COUNTRY LINKS -->

  <div class="country-links">

    <a href="#">
      Australia
    </a>

    <a href="#">
      Brazil
    </a>

    <a href="#">
      Canada
    </a>

    <a href="#">
      China
    </a>

    <a href="#">
      France
    </a>

    <a href="#">
      Germany
    </a>

    <a href="#">
      Italy
    </a>

    <a href="#">
      Japan
    </a>

    <a href="#">
      Mexico
    </a>

    <a href="#">
      Netherlands
    </a>

    <a href="#">
      Poland
    </a>

    <a href="#">
      Singapore
    </a>

    <a href="#">
      Spain
    </a>

    <a href="#">
      Turkey
    </a>

    <a href="#">
      United Arab Emirates
    </a>

    <a href="#">
      United Kingdom
    </a>

    <a href="#">
      United States
    </a>

  </div>


  <!-- BOTTOM FOOTER -->

  <div class="footer-bottom">

    <div class="legal-links">

      <a href="#">
        Conditions of Use & Sale
      </a>

      <a href="#">
        Privacy Notice
      </a>

      <a href="#">
        Interest-Based Ads
      </a>

    </div>


    <p>

      © 2004-{{ currentYear }}, Built By Kushagra Agarwal, Amazon Clone. All rights reserved.
    </p>

  </div>

</footer>